version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: ms-email-db
    environment:
      POSTGRES_DB: ms-email-ms
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: