spring:
  application:
    name: email
  datasource:
    url: jdbc:postgresql://localhost:5435/ms-email-ms
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    addresses: jaragua.lmq.cloudamqp.com
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    virtual-host: drrycdda
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
      smtp:
      auth: true
      starttls:
      enable: true
server:
  port:8080